<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<h3>Create Customer</h3>
<p>
    <a th:href="@{/customer}">Back to customers list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customer/save}" th:object="${customer}" method="post">
    <table border="1px">
        <tr>
            <td>First name:</td>
            <td><label>
                <input type="text" th:field="*{firstName}"/>
            </label></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><label>
                <input type="text" th:field="*{lastName}"/>
            </label></td>
        </tr>
        <tr>
            <td>Province <p> </p></td>
            <td>
                <select th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>