<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="layout :: head">-->
<head>
</head>
<body>
<h1>Are you sure Delete this customer?</h1>
<p>
<!--<div th:if="${message}">-->
    <!--<span th:text="${message}"></span>-->
<!--</div>-->
</p>
<p>
    <a href="/customer">Back to customer list</a>
</p>
<form action="#" th:action="@{/customer/remove}" method="post" th:object="${customer}">
    <fieldset>
        <legend>Customer information</legend>
        <input type="hidden" th:field="*{id}" >
        <table>

            <tr>
                <td>First Name: </td>
                <td><input type="text" th:value="${customer.getFirstName()}" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" th:value="${customer.getLastName()}" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td>Province</td>
                <td th:text="${customer.province.getName()}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"  value="Delete customer"></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
<!--<footer th:replace="layout :: footer"></footer>-->
</html>
